_ReSharper*/
reports/*.xml
db/build/
*ReSharper.user
obj/
bin/
logs/
reports/
*resharper.user
# Visual Studio
*DotSettings.user
src/**/[Dd]ebug/
src/**/[Rr]elease/
/src/**/TestResults/
/src/TestResults/
*.webtestresult
*.sln.cache
*.suo
*.csproj.user
# Resharper
*[Rr]e[Ss]harper.user
_ReSharper.*/
build/*
src/**/build/
src/**/bin/
**/bin/*
buildOutput
src/**/*.orig
.sass-cache/
tools/NUnit/TestResult.xml
docs/~*
src/UpgradeLog.*
src/_UpgradeReport_Files/
node_modules
packages/
_karma_coverage
src/Version/AssemblyVersion.cs
node_modules/
src/.nuget
npm-debug.log
coverage
src/CTM.Home.Question.API.Host/overrides.config
.idea/
.idea/*
assets/*