@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <form action="http://localhost:30141/api/risk/" method="GET">
            <button>Get A Quote</button>
        </form>                        
    </div>
</body>