<!DOCTYPE html>

<html ng-app="question">
<head>
    <title>Policy Details</title>
    <script type="text/javascript" src="~/Content/lib/angular/angular.js"></script>
    <script type="text/javascript" src="~/Content/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="~/Scripts/policy.js"></script>
</head>
<body>
    <div ng-view></div>
</body>
</html>